<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.alexplescan.sabnzbd-limiter</string>
   <key>Program</key>
   <string>/path/to/executable/set-limit.sh</string>
   <key>WorkingDirectory</key>
   <string>/path/to/foler/sabnzbd-limiter</string>
   <key>RunAtLoad</key>
   <true/>
   <key>StandardOutPath</key>
   <string>/path/to/folder/logs/out.log</string>
   <key>StandardErrorPath</key>
   <string>/path/to/folder/err.log</string>
</dict>
</plist>
